<!-- Includes the header template located at 'templates/header' -->
<%- include("templates/header") %>

  <!-- Content is center-aligned with 'text-center' class -->
  <div class="text-center">
    <% if (!authenticated) { %> <!-- If the user is not authenticated -->
      <!-- A welcome message inside a styled container -->
      <div class="container p-3 mt-5 mb-2">
        <h4 class="index-font">
          Welcome to <span class="font-gradient">Techommend</span>
        </h4>
      </div>

      <!-- An image display inside a styled container -->
      <div class="container p-4 mt-2 mb-5">
        <img src="image/Portfolio.svg" alt="home page illustration" />
      </div>

      <!-- Buttons for logging in and signing up -->
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-lg btn-primary btn-block rounded-pill px-4 py-2 mb-4" id="login-btn">
              <a href="/login">LOG IN</a>
            </button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn btn-primary btn-block rounded-pill px-4 py-2 mb-4" id="signup-btn">
              <a href="/signup">SIGN UP</a>
            </button>
          </div>
        </div>
      </div>

      <% } else { %> <!-- If the user is authenticated -->

        <!-- A personalized greeting message -->
        <div class="container p-3 mt-5 mb-5">
          <h4 class="index-font">
            Hello, <span class="font-gradient">
              <%= username %>!
            </span>
          </h4>
        </div>

        <!-- The same image as in the not authenticated state -->
        <div class="container p-4 mt-3 mb-3">
          <img src="image/Portfolio.svg" alt="home page illustration" />
        </div>

        <!-- Buttons for searching and logging out -->
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <button id="search-submit-btn" class="btn btn-lg btn-primary btn-block rounded-pill px-4 py-2 mb-3">
                <a href="/search">SEARCH</a>
              </button>
            </div>
            <div class="col-md-6">
              <button id="logout-submit-btn" class="btn btn-lg btn-primary btn-block rounded-pill px-4 py-2 mb-3">
                <a href="/logout">LOG OUT</a>
              </button>
            </div>
          </div>
        </div>

        <% } %> <!-- End of EJS if/else block -->

  </div> <!-- End of text-center div -->

  <!-- Includes the footer template located at 'templates/footer' -->
  <%- include("templates/footer") %>