<%- include("templates/header") %>
<div class="card login-form">
  <div class="card-body">
    <h3 class="card-title text-center">Reset Password</h3>

    <div class="card-text">
      <% if (locals.errorMessage) { %>
      <div class="alert alert-danger" role="alert">
        <%= locals.errorMessage %> <% if (locals.signupLink) { %>
        <a href="<%= locals.signupLink %>">Sign up</a>
        <% } %>
      </div>
      <% } %>

      <form action="/resetPassword" method="POST">
        <div class="form-group">
          <label for="emailInput">
            Enter your email address and we will send you a link to reset your
            password.
          </label>
          <input
            type="email"
            class="form-control"
            id="emailInput"
            name="recipient"
            placeholder="Enter your email address"
            required
          />
        </div>

        <button type="submit" class="btn btn-primary btn-block">
          Reset Password
        </button>
      </form>
    </div>
  </div>
</div>

<%- include("templates/footer") %>
