<%- include("templates/header") %>
<div class="card login-form">
  <div class="card-body">
    <h3 class="card-title text-center">Reset Password</h3>

    <div class="card-text">
      <form>
        <div class="form-group">
          <label for="emailInput"
            >Enter your email address and we will send you a link to reset your
            password.</label
          >
          <input
            type="email"
            class="form-control"
            id="emailInput"
            placeholder="Enter your email address"
          />
        </div>

        <button type="submit" class="btn btn-primary btn-block">
          Send Password Reset Email
        </button>
      </form>
    </div>
  </div>
</div>

<%- include("templates/footer") %>
