<%- include("templates/header") %>

<div class="container-fluid h-custom">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <!-- logo -->
    <div class="col-md-9 col-lg-6 col-xl-5">
      <img
        src="/image/LogoPrototypeTechommend2.png"
        class="img-fluid"
        alt="logo"
      />
    </div>
    <!-- sign up form -->
    <form action="/submitUser" method="POST">
      <!-- username -->
      <div class="form-floating mb-3">
        <input
          type="text"
          name="username"
          class="form-control"
          id="floatingUsername"
          placeholder="Username"
        />
        <label for="floatingPassword">Username</label>
      </div>
      <!-- email -->
      <div class="form-floating mb-3">
        <input
          type="text"
          name="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Email address</label>
      </div>
      <!-- password -->
      <div class="form-floating mb-3">
        <input
          type="password"
          name="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
        />
        <label for="floatingPassword">Password</label>
      </div>
      <!-- submit button -->
      <button
        type="submit"
        class="btn btn-lg btn-primary btn-block rounded-pill px-4 py-2 mb-3 mx-auto"
        id="sign-up-submit-btn"
      >
        SIGN UP
      </button>
    </form>
  </div>
</div>

<%- include("templates/footer") %>
