<nav class="navbar">
  <div class="navbar-center logo">
    <a href="#">
      <img src="/image/LogoPrototypeTechommend2.png" alt="TechommendLogo" />
    </a>
    <span class="hamburger" onclick="toggleMenu()">&#9776;</span>
  </div>
  <div class="mobile-menu" id="mobile-menu">
    <a href="/search">Search</a>
    <a href="/savedListings">Saved Listings</a>
    <a href="/userProfile">Profile</a>
    <a href="/logout">Logout</a>
  </div>
</nav>
